<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>Ordenar almacen</title>
    <link rel="stylesheet" type="text/css" href="estilos/principal.css">
    <link rel="stylesheet" type="text/css" href="estilos/principalChico.css">
    <link rel="stylesheet" type="text/css" href="estilos/principalMobile.css">
  </head>
  <body>
    <div class="contenedor" ng-app="aplicacion" ng-controller="controlPrincipal">
      <header>
        <img id="Logo" src="imagenes/T_LOGO.png" style="width: 50px">
        <nav class="nav_link">
          <ul>
            <li><a href="/">Lista</a></li>
            <li><a href="/ingresar">Administracion</a></li>
            <li><a href="/modificacionLibre">Modificar</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#">ARsystem</a></li>
          </ul>
        </nav>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">menu</a>
        <button><a href="/">Inicio</a></button>
      </header>
      <div id="linksMobile">
          <ul>
            <li><a href="/">Lista</a></li>
            <li><a href="/ingresar">Administracion</a></li>
            <li><a href="/modificacionLibre">Modificar</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#">ARsystem</a></li>
          </ul>
      </div>
      <div class="listas">
        <div class="navegador_lista" ng-repeat="lista in almacenes">
          <h4 id="titulo_lista">Almacen</h4>
          <div class="buscador">
            <h5>Buscador</h5>
            <input ng-model="searchText" type="search">
          </div>
          <div class="lista">
            <table>
              <tr>
                <th>Nombre</th>
                <th>Sector</th>
                <th class="quitar">Fecha de modificacion</th>
                <th class="quitar">Ultimo en modificar</th>
                <th class="quitar">Tipo de modificacion</th>
                <th>Cantidad</th>
                <th class="quitar">ID</th>
                <th>Modificar</th>
              </tr>
              <tr ng-if="1" ng-repeat="objetos in lista.objetos | filter:searchText">
                <td>{{objetos.nombre}}</td>
                <td>{{objetos.sector}}</td>
                <td class="quitar">{{objetos.fechaModificacion}}</td>
                <td class="quitar">{{objetos.editor}}</td>
                <td class="quitar">{{objetos.modificacion}}</td>
                <td>{{objetos.cantidad}}</td>
                <td class="quitar" name="id" >{{objetos.id}}</td>
                <td>
                  <form method="post" action="/modificacionLink">
                    <input type="submit" value="Modificar">
                    <input type="number" name="id" value={{objetos.id}} style="display: none">
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var app = angular.module('aplicacion', []);
    app.controller('controlPrincipal', function($scope, $http) {
      var otro = <%- JSON.stringify(documento)%>;
      console.log(otro);
      $scope.almacenes = [
        { nombre:"almacen principal",
          objetos:otro
        }
      ];
    });
  </script>
  <script>
      function myFunction() {
        var x = document.getElementById("linksMobile");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
      </script>
</html>