<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Ordenar almacen</title>
    <link rel="stylesheet" type="text/css" href="estilos/principal.css">
    <link rel="stylesheet" type="text/css" href="estilos/principalChico.css">
    <link rel="stylesheet" type="text/css" href="estilos/modificaciones.css">
  </head>
  <body>
    <div class="contenedor" ng-app="aplicacion" ng-controller="controlPrincipal">
      <header>
        <img id="Logo" src="imagenes/T_LOGO.png" style="width: 50px">
        <nav class="nav_link">
          <ul>
            <li><a href="/lista">Lista</a></li>
            <li><a href="/ingresar">Administracion</a></li>
            <li><a href="/modificacionLibre">Modificar</a></li>
            <li><a href="#">ARsystem</a></li>
          </ul>
        </nav>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">menu</a>
        <button><a href="/">Inicio</a></button>
      </header>
      <div id="linksMobile">
        <ul>
          <li><a href="/lista">Lista</a></li>
          <li><a href="/ingresar">Administracion</a></li>
          <li><a href="/modificacionLibre">Modificar</a></li>
          <li><a href="#">ARsystem</a></li>
        </ul>
      </div>
      <div class="modificaciones">
        <div class="listas">
          <div class="navegador_lista">
            <h4>Ingresar objeto</h4>
            <br>
            <form method="post" action="/ingresarObjeto">
              <h3>Nombre</h3>
              <input class="opciones input" type="text" name="Nombre">
              <h3>Cantidad</h3>
              <input class="opciones input" type="number" name="Cantidad" value="0">
              <h3>Cantidad minima</h3>
              <input class="opciones input" type="number" name="CantidadMinima" value="0">
              <h3>Sector</h3>
              <input class="opciones input" type="text" name="Sector">
              <h3>Unidades</h3>
              <input class="opciones input" type="text" name="Unidad">
              <br>
              <br>
              <button>Ingresar</button>
            </form>
          </div>
          <div class="navegador_lista">
              <h4>Eliminar objeto</h4>
              <br>
              <form method="post" action="/eliminarObjeto">
                <h3>Identificador</h3>
                <input class="opciones input" type="number" name="Identificador">
                <br>
                <br>
                <button>Eliminar</button>
              </form>
            </div>
            <div class="navegador_lista">
                <h4>Crear usuario</h4>
                <br>
                <form method="post" action="/crearUsuario">
                  <h3>Nombre</h3>
                  <input class="opciones input" type="text" name="Nombre">
                  <h3>Email</h3>
                  <input class="opciones input" type="text" name="Email">
                  <h3>Tipo de acceso</h3>
                  <select class="opciones input" name="Acceso">
                    <option value="administracion">Administrador</option>
                    <option value="normal">Base</option>
                  </select>
                  <h3>Usuario</h3>
                  <input class="opciones input" type="text" name="Usuario">
                  <h3>Contraseña</h3>
                  <input class="opciones input" type="password" name="Contrasena">
                  <br>
                  <br>
                  <button>Ingresar</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </body>
  <script>
      function myFunction() {
        var x = document.getElementById("linksMobile");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
      </script>
</html>